### Q1. Create one variable containing the following type of data:
        1. string 
        2. list 
        3. float 
        4. tupleple

In [6]:
name = "Shantanil"

In [8]:
my_list = ["shantanil", "hazarika", 28, "Male"]

In [10]:
my_float = 2.3

In [14]:
tup = (2,3)

### Q2. Given are some following variables containing data:= 1.

In [23]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

### What will be the data type of the above given variable.

In [35]:
print(f"The data type of var1 is : {type(var1)}") 
print(f"The data type of var2 is : {type(var2)}") 
print(f"The data type of var3 is : {type(var3)}") 
print(f"The data type of var4 is : {type(var4)}")

The data type of var1 is : <class 'str'>
The data type of var2 is : <class 'str'>
The data type of var3 is : <class 'list'>
The data type of var4 is : <class 'int'>

### Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [38]:
## / is used to divide a number

result = 6/2

## % is used to find the remainder of two digits being divided 

mod = 6 % 2 

## // is used to do floor division 

floor = 40 // 3 

## ** is used to for exponentiation

exp = 4 ** 2

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print.

####  the element and its data type.

In [ ]:
my_list = [1,2,"Eden","Hazard",55.6,"Bernardo",76,8,9,10]

#### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [63]:
def check_divisibilty(A,B):

    if B == 0 :
        print("Division by 0 is not allow")

    while A%B == 0 :
        A = A // B 
        count = count + 1
        
    if count == 0:
        return f"{A} is not divisible by {B}"
    else :
        return f"{A} is divisible by {B} {count} times"

#### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [66]:
list_25 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in list_25:
    if (i % 3 == 0):
        print(i)
    else:
        print("The number is not divisible by 3")

The number is not divisible by 3
The number is not divisible by 3
3
The number is not divisible by 3
The number is not divisible by 3
6
The number is not divisible by 3
The number is not divisible by 3
9
The number is not divisible by 3
The number is not divisible by 3
12
The number is not divisible by 3
The number is not divisible by 3
15
The number is not divisible by 3
The number is not divisible by 3
18
The number is not divisible by 3
The number is not divisible by 3
21
The number is not divisible by 3
The number is not divisible by 3
24
The number is not divisible by 3

#### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### Mutability means that the content of the data type can be changed later. Example list and dictionaries are mutable whereas

#### Immutability means the content of the data type cannot be changed once it has been instantiated. Example : strings